.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.7rem 1rem;
    position: fixed;
    top: 0;
    width: 100%;
    border-bottom: 3px solid rgb(3, 164, 204);
    border-top: 2px solid rgb(111, 141, 148);
  
    z-index: 1;
  }
  .navbar ul {
    display: flex;
  }
  .navbar a {
    color: #fff;
    padding: 0.45rem;
    margin: 0 0.3rem;
  }
  
  .navbar a:hover {
    color: rgb(130, 115, 95);
  }
  
  .navbar .welcome span {
    margin-right: 0.6rem;
  }

  body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

/* Style for the header */
header {
    background-color: #333;
    color: #fff;
    padding: 10px 0; /* Add some top and bottom padding to the header */
    text-align: center;
    width: 100%; /* Make the header full-width */
}

/* Container for the cards */
.card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding-top: 20px; /* Add top padding to create space below the header */
}

/* Basic styling for the card */
.card {
    width: 300px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

/* Styling for the card title */
.card-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

/* Styling for the access links */
.access-link {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    transition: color 0.2s;
}

.access-link:hover {
    color: #007bff;
}

/* Container for the cards */
.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding-top: 20px; /* Add top padding to create space below the header */
    position: relative; /* Set position to relative */
    z-index: 2; /* Set a higher z-index value to appear above the header */
}

app-header {
  background-color: #333;
  color: #fff;
  padding: 10px 0; /* Add some top and bottom padding to the header */
  text-align: center;
  width: 100%; /* Make the header full-width */
  position: relative; /* Set position to relative */
  z-index: 1; /* Set a positive z-index value */
}
