<app-header></app-header>
<div class="container">
    <h1>Bill Section</h1>
</div>
<div class="card-container">
    <!-- Bills Card -->
    <div class="card">
        <div class="card-title">Add Bill</div>
        <a routerLink="/Bill" class="access-link">Add new Bill</a>
    </div>
   
    <!-- Payments Card -->
    <div class="card">
        <div class="card-title">All Bill</div>
        <a routerLink="/payment" class="access-link">See All Bill</a>
    </div>

    <div class="card">
        <div class="card-title">Update Bill</div>
        <a routerLink="/invoice" class="access-link">Update Here</a>
    </div>

    <!-- Transactions Card -->
    <div class="card">
        <div class="card-title">Delete Bill</div>
        <a routerLink="/transaction"class="access-link">Delete Here</a>
    </div>

    <!-- Invoices Card -->
   
</div>