<app-header></app-header>
<div class="container">
    <h1>Invoice Section</h1>
</div>
<div class="card-container">
    <!-- Invoices Card -->
    <div class="card">
        <div class="card-title">Add Invoice</div>
        <a routerLink="/invoice" class="access-link">Add new Invoice</a>
    </div>
   

    <!-- Payments Card -->
    <div class="card">
        <div class="card-title">All Invoice</div>
        <a routerLink="/payment" class="access-link">See All Invoice</a>
    </div>

    <div class="card">
        <div class="card-title">Update Invoice</div>
        <a routerLink="/invoice" class="access-link">Update Here</a>
    </div>

    <!-- Transactions Card -->
    <div class="card">
        <div class="card-title">Delete Invoice</div>
        <a routerLink="/transaction"class="access-link">Delete Here</a>
    </div>

    <!-- Invoices Card -->
   
</div>