<app-header ></app-header>
<div class="card-container">
    
    <!-- Customers Card -->
    <div class="card">
        <div class="card-title">Customers</div>
        <a routerLink="/customer" class="access-link">Manage Customers</a>
    </div>
    <!-- Bill Card -->
    <div class="card">
        <div class="card-title">Bill</div>
        <a routerLink="/bill" class="access-link">Manage Bill</a>
    </div>

    <!-- Payments Card -->
    <div class="card">
        <div class="card-title">Payments</div>
        <a routerLink="/payment" class="access-link">Manage Payments</a>
    </div>

    <!-- Transactions Card -->
    <div class="card">
        <div class="card-title">Transactions</div>
        <a routerLink="/transaction"class="access-link">Manage Transactions</a>
    </div>

    <!-- Invoices Card -->
    <div class="card">
        <div class="card-title">Invoices</div>
        <a routerLink="/invoice" class="access-link">Manage Invoices</a>
    </div>
</div>