<app-header></app-header>
<div class="container">
  <h1 class="large head-primary">Login !</h1>
  <p class="paraStyle">
    Sign Into Your Account
  </p>

  <form class="form" #loginForm='ngForm' (ngSubmit)="onSubmit(loginForm)">
    <div class="form-items">
      <input #employeeId="ngModel" ngModel type="text" name="employeeId" placeholder=" Please Enter Employee ID "
        [pattern] =numberPattern required />
    </div>
    <div class="form-items alert alert-danger" *ngIf="employeeId.touched && !employeeId.valid ">
      **Please Enter Vaild employeeId.
      <div *ngIf="employeeId.errors?.pattern "> 
        ** Please Enter employeeId as number.
      </div> 
    </div>

    <div class="form-items">
      <input #otp="ngModel" ngModel  type="text" name="otp" placeholder=" Please Enter OTP "
        length="6" required  />
    </div>
    <div class="form-items alert alert-danger" *ngIf="otp.touched && !otp.valid ">
      **Please Enter Vaild otp.
      <!-- <div *ngIf="otp.errors?.length && otp.errors?.numberPattern"> 
        ** Please Enter otp as number.
      </div> -->
    </div>

    <div class="form-items">
      <input #pass ="ngModel"  ngModel  type="password" name="password" placeholder="Your Password" minlength="6"  required  />
    </div>
    <div class="form-items alert alert-danger"  *ngIf ="pass.touched && !pass.valid" >
       **Password Can't be Blank & should be atleast 6 character.
      <div class="form-items alert alert-danger"  *ngIf ="pass.errors?.minLength">
        **Password
      </div>
    </div>
    <div class="form-items">
      <input  [disabled]="!loginForm.valid" type="submit" value="Login Now" class="btn btn-primary" />
    </div>
  </form>
   

  <p class="my-1">
    Don't have an account?
    <strong> click to</strong><br />
    <a routerLink="/home">
      Register
    </a>
  </p>
  <div class="form-items" [hidden] ="isLoggedIn">
    <p class="btn alert alert-danger">{{interalErrorMessage}}</p>
  </div>
  
</div>