<app-header></app-header>
<div class="container">
    <h1>Payment Section</h1>
</div>
<div class="card-container">
    <!-- Payments Card -->
    <div class="card">
        <div class="card-title">Add Payment</div>
        <a routerLink="/Payment" class="access-link">Add new Payment</a>
    </div>
   

    <!-- Payments Card -->
    <div class="card">
        <div class="card-title">All Payment</div>
        <a routerLink="/payment" class="access-link">See All Payment</a>
    </div>

    <div class="card">
        <div class="card-title">Update Payment</div>
        <a routerLink="/invoice" class="access-link">Update Here</a>
    </div>

    <!-- Transactions Card -->
    <div class="card">
        <div class="card-title">Delete Payment</div>
        <a routerLink="/transaction"class="access-link">Delete Here</a>
    </div>

    <!-- Invoices Card -->
   
</div>