.bg{
    position: relative;
    /* background: url('../assets/bbcBg.jpg') no-repeat center center/cover; */
    background: url('../../assets/bg1.jpg') no-repeat center center/cover;
    height: 100vh;
  }