<app-header></app-header>
<div class="container">
    <h1>Invoice Section</h1>
  </div>
  <div class="form-items" [hidden] ="!isNotFound">
    <p class="btn alert alert-danger">{{noInvoice}}</p>
  </div>
  <div class="form-items" [hidden] ="!isDeleted">
    <p class="btn alert alert-danger">{{errorMsg}}</p>
  </div>
  <table class="center-table">
      <tr>
          <th>S No</th>
          <th>Customer Name</th>
          <th>Invoice ID</th>
          <th>Bill ID</th>
          <th>Amount</th>
          <th>Due Date</th>
          <th>Early Payment Amount</th>
          <th>Online Payment Amount</th>
          <th>Total Amount</th>
          <th>Payment Status</th>
          <th>Actions</th>
      </tr>
  
      <tr *ngFor="let invoice of invoices; let i = index">
          <td>{{i + 1}}</td>
          <td>{{invoice.customer.customerName}}</td>
          <td>{{invoice.invoiceId}}</td>
          <td>{{invoice.bill.billId}}</td>
          <td>{{invoice.amount}}</td>
          <td>{{invoice.bill.billDueDate | date:'dd-MM-yyyy'}}</td>
          <td>{{invoice.earlyPayment}}</td>
          <td>{{invoice.onlinePayment}}</td>
          <td>{{invoice.totalAmount}}</td>
          <!-- <td>{{invoice.bill.paid}}</td> -->
          <td>{{invoice.bill.paid ? 'Paid' : 'Unpaid'}}</td>
          <td>
            <button class="btn btn-success" [disabled]="invoice.paymentStatus"  (click)="navigateToPayment(invoice.customer.customerId,invoice.bill.billId)">Pay</button>
              <button class="btn btn-primary" (click)="navigateToInvoiceDetails(invoice)">View</button>
              <button class="btn btn-primary" [disabled]="invoice.paymentStatus" (click)="navigateToUpdateInvoice( invoice.customer.customerId,invoice.bill.billId, invoice.invoiceId)">Update</button>
              <button class="btn btn-danger"   (click)="navigateToDeleteInvoice(invoice.invoiceId)">Delete</button>
          </td>     
      </tr>
  </table>
  